@model GBCSports.Models.Product;

@{
    ViewBag.Title = "Edit Product";
}

<div class="container">
    <div><h2 class="pt-3">Edit Product</h2></div>
</div>
<form method="post" asp-action="Edit" asp-controller="Product">
    <div class="form-group">
        <label asp-for="Code">Code</label>
        <br/>
        <span class="text-danger" asp-validation-for="Code"></span>
        <input class="form-control" type="text" id="codeInput" asp-for="Code">
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <br/>
        <span class="text-danger"asp-validation-for="Name" ></span>
        <input class="form-control" type="text" id="nameInput" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Price">Yearly Price</label>
        <br/>
        <span class="text-danger"asp-validation-for="Price"></span>
        <input class="form-control" type="text" id="priceInput" placeholder="0.00" asp-for="Price"> 
    </div>
    <div class="form-group">
        <label asp-for="Release_Date">Release Date</label>
        <br/>
        <span class="text-danger"asp-validation-for="Release_Date"></span>
        <input class="form-control" type="date" id="dateInput" placeholder="MM/DD/YYYY" asp-for="Release_Date">
    </div>
    <br>
    <button class="btn btn-primary" type="submit" asp-controller="Product" asp-action="Edit">Save</button>
    <button class="btn btn-danger" type="submit" asp-controller="Product" asp-action="Index">Cancel</button>
</form>